---
name: Publish TechDocs Site

on:
  workflow_dispatch:
      inputs: {}
  push:
    branches:
      - master
    paths:
      - docs/**
      - mkdocs.yml
      - .github/workflows/techdocs.yaml

jobs:
  publish-techdocs-site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '22'
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.11'

      - name: Install techdocs-cli
        run: sudo npm install -g @techdocs/cli

      - name: Install mkdocs and mkdocs plugins
        run: |
          python -m pip install \
            mkdocs-techdocs-core==1.* \
            mkdocs-d2-plugin \
            mkdocs-mermaid2-plugin \
            mkdocs-panzoom-plugin \
            mkdocs-drawio-exporter \
            mkdocs-badges \
            mkdocs-macros-plugin \
            mkdocs-git-revision-date-localized-plugin \
            mkdocs-git-authors-plugin \
            mkdocs-git-committers-plugin-2 \
            mkdocs-toggle-sidebar-plugin \
            git+https://github.com/jldiaz/mkdocs-plugin-tags.git \
            mkdocs-awesome-nav

      - name: Generate docs site
        run: techdocs-cli generate --no-docker --verbose
      - name: Generate Google Application Credentials
        env:
          GCP_GITHUB_SA_CREDENTIALS: ${{ secrets.GCP_GITHUB_SA_CREDENTIALS }}
        run: |
          echo "${GCP_GITHUB_SA_CREDENTIALS}" > ./gcp-github-sa-credentials.json
          echo "GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/gcp-github-sa-credentials.json" >> $GITHUB_ENV
      - name: Publish docs site
        run: |
          techdocs-cli publish \
              --publisher-type googleGcs \
              --gcsBucketRootPath tech-docs \
              --storage-name 1e42-tools-backstage \
              --entity default/Component/esctl

      - name: Clean up Google Application Credentials
        if: always()
        run: |
          rm -f $GOOGLE_APPLICATION_CREDENTIALS
